@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

.main {
    background-image: url(assets/images/bg.jpg);
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
}

nav {
    max-width: 75vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

nav img {
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
    font-size: large;
    padding: 10px;
}

.text {
    height: calc(85% - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 25px;
    padding: 25px;
}

.text> :first-child {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.text> :nth-child(2) {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.text> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.text input{  
    width: 300px;
    padding: 10px 0px 10px 5px;
}

.text button{
    padding: 7px;
}

.line {
    height: 5px;
    background-color: red;
    position: relative;
    box-shadow: 0px 35px 75px 5px blue;
}

.blue {
    height: 4px;
    background-color: blue;
    position: relative;
    opacity: 0.3;
}

.btn {
    padding: 3px 10px;
    color: white;
}

.sibtn {
    background-color: red;
    border: 1px;
    border-radius: 3px;
}

.langbtn {
    background-color: rgba(59, 55, 55, 0.3);
    border: 1px solid rgba(224, 222, 222, 0.3);
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
}

.redbtn {
    font-size: 20px;
    padding: 4px 10px;
    margin-left: 5px;
    border-radius: 6px;
    background-color: red;
    border: 2px solid black;
    font-weight: bold;
}

.bar {
    padding: 5px 70px 5px 5px;
    border-radius: 6px;
    font-size: 18px;
    background-color: rgba(30, 27, 27, 0.8);
    border: 1px solid rgba(224, 222, 222, 0.3);
    color: white;
}

.trend {
    color: white;
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
    margin: 100px 0px 30px 0px;
}

.boxx {
    display: flex;
    gap: 30px;
    scroll-behavior: smooth;
    width: 95vw;
    padding-top: 75px;
    padding-bottom: 75px;
    overflow-x: auto;
    flex-wrap: nowrap;
    overflow-y: visible;
}

.boxx::-webkit-scrollbar{
    display:none;
}


.arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 20;
    cursor: pointer;
    opacity: 0.5;
    filter: invert(1);
}

.arrow:hover {
    opacity: 1;
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}

.arrow.leftarr {
    left: 10px;
}

.arrow.rightarr {
    right: 10px;
}

.box1 {
    gap: 100px;
    height: 280px;
    min-width: 210px;
    transition: transform 0.3s ease;
}

.box1:hover {
    cursor: pointer;
    background-color: black;
    position: relative;
    transform: scale(1.2);
    transition: 0.5s ease;
    z-index: 5;
}

.box1 img {
    height: 280px;
    width: 210px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    z-index: 10;
    border: 1px solid rgba(224, 222, 222, 0.3);
}

.box1 {
    color: white;
    text-align: center;
}

.heading2 {
    margin: 50px 0px 50px 0px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.grid2 {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 250px;
    gap: 60px;
    justify-content: center;
    border-radius: 10px;
}

.boxy1 {
    border: 4px solid black;
    border-radius: 15px;
    color: white;
    background-color: rgb(53, 9, 95);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(rgb(27, 4, 39), rgb(26, 119, 213));
}

.boxy1 div {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 5px;
    text-align: center;
    font-family: poppins;
}

.boxy1 p {
    margin-top: 15px;
    font-size: 15px;
    padding-left: 10px;
    font-family: poppins;
}

.grid3 {
    display: grid;
    gap: 0px;
    justify-content: center;
    grid-template-columns: 80vw;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
}

.greedy {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    border: 4px solid black;
    color: white;
    background-color: rgb(52, 49, 49);
    display: flex;
    justify-content: space-between;
}

.greedy svg {
    margin-top: 5px;
    margin-right: 10px;
}

.greedy:hover {
    background-color: rgb(150, 0, 0);
    cursor: pointer;
}

.login2 {
    color: white;
    margin-top: 50px;
    text-align: center;
}

.sibtn2 {
    margin-top: 15px;
}

.footh {
    margin-top: 60px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

.grid4 {
    justify-content: center;
    text-align: center;
    font-weight: 500;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 40px 40px 40px 40px;
    gap: 10px 60px;
    text-decoration: underline;
}

.griddy {
    font-size: 13px;
    color: rgb(195, 181, 181);
    text-decoration: underline;
}

.net {
    margin-top: 75px;
    color: rgb(222, 222, 222);
    text-align: center;
    padding: 0px 0px 50px 0px;
}

.net :nth-child(1) {
    color: rgb(255, 255, 255);
}

.net :nth-child(2) {
    color: rgb(209, 205, 205);
    font-size: 12px;
}

.net :nth-child(3) {
    color: rgb(71, 71, 247);
    text-decoration: underline;
    font-size: 12px;
}

.rbtn:hover {
    background-color: rgb(178, 0, 0);
    cursor: pointer;
}

.griddy span:hover {
    padding: 5px 10px;
    background-color: rgb(102, 102, 102);
    color: white;
    cursor: pointer;
    border: 1px solid rgba(164, 159, 159, 0.5);
    border-radius: 5px;
}

.net :nth-child(3):hover {
    cursor: pointer;
}

.faq{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: x-large  ;
}

.question{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background: rgb(50, 50, 50);
    color:white;
    padding:20px;
    cursor:pointer;
}

.question:hover{
    background:#555;
}

.answer{
    max-height:0;
    overflow:hidden;
    background:#2d2d2d;
    color:white;
    transition:max-height 0.4s ease;
    padding:0 20px;
}

.faq.active .answer{
    max-height:200px;
    padding:20px;
}

.icon{
    transition:0.3s;
    filter: invert(1);
}

.faq.active .icon{
    transform:rotate(45deg);
}
.icon{
    height: 20px;
    width: auto;
}